# Loading Data

In [67]:
ride_sharing_new = 'https://assets.datacamp.com/production/repositories/5737/datasets/023d88638863562a427a87539e371d9f2a7190f3/ride_sharing_new.csv'

airlines_url = 'https://assets.datacamp.com/production/repositories/5737/datasets/ba95dfa6d750e4bf2ddda2349cfe0af80ab765ff/airlines_final.csv'

banking = 'https://assets.datacamp.com/production/repositories/5737/datasets/1dad1a5b295d27a02615c633449edd2c907fed5d/banking_dirty.csv'

restaurants = 'https://assets.datacamp.com/production/repositories/5737/datasets/e993edc10bc1f1ae458a560a9c41617bc2e259ae/restaurants_L2.csv'

restaurantsII = 'https://assets.datacamp.com/production/repositories/5737/datasets/e993edc10bc1f1ae458a560a9c41617bc2e259ae/restaurants_L2.csv'



1.   Common Data Problems
2.   Text categorial data problems
3.   Advanced data problems
4.   Record linkage

# **Common data problems**
# Data type constraints
## Common data types

In [25]:
import pandas as pd
ride_sharing = pd.read_csv(ride_sharing_new)

# Print the information of ride_sharing
print(ride_sharing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None

In [26]:
#  Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

## Summing strings and concatenating numbers

In [27]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

In [28]:
# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

In [29]:
# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

In [30]:
# Print formed columns and calculate average ride duration
print(ride_sharing[['duration', 'duration_trim', 'duration_time']])

         duration duration_trim  duration_time
0      12 minutes           12              12
1      24 minutes           24              24
2       8 minutes            8               8
3       4 minutes            4               4
4      11 minutes           11              11
...           ...           ...            ...
25755  11 minutes           11              11
25756  10 minutes           10              10
25757  14 minutes           14              14
25758  14 minutes           14              14
25759  29 minutes           29              29

[25760 rows x 3 columns]

In [31]:
print(ride_sharing['duration_time'].mean())

11.389052795031056

#Data range constraints
## Tire size constraints

In [32]:
import numpy as np
np.random.seed(42)
sz = len(ride_sharing['duration_time'])
ride_sharing['tire_sizes']  = np.random.choice(
    a=[26, 27, 29],  
    size=sz,  
    p=[0.5, 0.3, 0.2]  
 )

In [33]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

In [34]:
# Set all values above 27 tp 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

In [35]:
# Recovert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

In [36]:
print(ride_sharing['tire_sizes'].describe())

count     25760
unique        2
top          27
freq      12936
Name: tire_sizes, dtype: int64

## Back to the future

In [37]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
 10  duration_trim    25760 non-null  object
 11  duration_time    25760 non-null  int64
 12  tire_sizes       25760 non-null  category
dtypes: category(1), int64(7), object(5)
memory usage: 2.4+ MB

In [38]:
# There is no 'ride_dt' column fill it randomly
sz = len(ride_sharing['duration_time'])
ride_sharing['ride_dt'] = np.random.choice(
    a = ['2020-01-01', '2021-01-01'],
    size = sz,
    p = [0.9, 0.1]
)

In [39]:
# Convert ride data to datetime
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_dt'])

In [41]:
# Save today's date
import datetime as dt
today = dt.date.today()

In [44]:
# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > pd.to_datetime('today'), 'ride_dt'] = today

In [45]:
# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

2020-07-30

# Uniqueness constraints
## Finding duplicates

In [46]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
 10  duration_trim    25760 non-null  object
 11  duration_time    25760 non-null  int64
 12  tire_sizes       25760 non-null  category
 13  ride_dt          25760 non-null  object
dtypes: category(1), int64(7), object(6)
memory usage: 2.6+ MB

In [48]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset='bike_id', keep = False)

In [49]:
# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('bike_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['bike_id', 'duration', 'user_birth_year']])

       bike_id    duration  user_birth_year
3638        11  12 minutes             1988
6088        11   5 minutes             1985
10857       11   4 minutes             1987
10045       27  13 minutes             1989
16104       27  10 minutes             1970
...        ...         ...              ...
8812      6638  10 minutes             1986
6815      6638   5 minutes             1995
8456      6638   7 minutes             1983
8300      6638   6 minutes             1962
8380      6638   8 minutes             1984

[25717 rows x 3 columns]

In [51]:
ride_sharing.columns

Index(['Unnamed: 0', 'duration', 'station_A_id', 'station_A_name',
       'station_B_id', 'station_B_name', 'bike_id', 'user_type',
       'user_birth_year', 'user_gender', 'duration_trim', 'duration_time',
       'tire_sizes', 'ride_dt'],
      dtype='object')

## Testing duplicates

In [54]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates().copy()

ride_dup['duration'] = ride_dup['duration'].str.replace(" minutes", "").astype('int')

In [55]:
# Create statistics dictionary for aggregation function
statistics = {'user_birth_year':'min', 'duration':'mean'}

In [57]:
# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('bike_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset='bike_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

#**Text and Categorical data problems**
# Membership constraints
## Finding consistency

In [66]:
import pandas as pd
import numpy as np

In [68]:
airlines = pd.read_csv(airlines_url)
airlines.head()

   Unnamed: 0    id  ...         safety        satisfaction
0           0  1351  ...        Neutral      Very satisfied
1           1   373  ...      Very safe      Very satisfied
2           2  2820  ...  Somewhat safe             Neutral
3           3  1157  ...      Very safe  Somewhat satsified
4           4  2992  ...      Very safe  Somewhat satsified

[5 rows x 13 columns]

In [69]:
categories = pd.DataFrame(
    {
        'cleanliness': ['Clean', 'Average', 'Somewhat clean', 'Somewhat dirty', 'Dirty'],
        'safety': ['Neutral', 'Very safe', 'Somewhat safe', 'Very unsafe', 'Somewhat unsafe'],
        'satisfaction': ['Very satisfied', 'Neutral', 'Somewhat satisfied', 'Somewhat unsatisfied', 'Very unsatisfied']
    }
)

airlines = airlines.drop(labels=['Unnamed: 0'], axis=1)

In [70]:
airlines.head()

     id        day  ...         safety        satisfaction
0  1351    Tuesday  ...        Neutral      Very satisfied
1   373     Friday  ...      Very safe      Very satisfied
2  2820   Thursday  ...  Somewhat safe             Neutral
3  1157    Tuesday  ...      Very safe  Somewhat satsified
4  2992  Wednesday  ...      Very safe  Somewhat satsified

[5 rows x 12 columns]

In [72]:
# Print categories DataFrame
print(categories)

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied

In [75]:
# Print unique values of survey columns in airlines
print('Cleaniness: ', airlines['cleanliness'].unique(), '\n')
print('Safety: ', airlines['safety'].unique(), '\n' )
print('Satisfaction: ', airlines['satisfaction'].unique(), '\n')

Cleaniness:  ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [76]:
# Find the cleanliness category in airlines not in catgories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# print rows with inconsistent category
print(airlines[cat_clean_rows])

Empty DataFrame
Columns: [id, day, airline, destination, dest_region, dest_size, boarding_area, dept_time, wait_min, cleanliness, safety, satisfaction]
Index: []

In [78]:
# print rows with consistent categories only
print(airlines[~cat_clean_rows])

        id        day  ...         safety        satisfaction
0     1351    Tuesday  ...        Neutral      Very satisfied
1      373     Friday  ...      Very safe      Very satisfied
2     2820   Thursday  ...  Somewhat safe             Neutral
3     1157    Tuesday  ...      Very safe  Somewhat satsified
4     2992  Wednesday  ...      Very safe  Somewhat satsified
...    ...        ...  ...            ...                 ...
2472  1475    Tuesday  ...        Neutral  Somewhat satsified
2473  2222   Thursday  ...      Very safe      Very satisfied
2474  2684     Friday  ...      Very safe      Very satisfied
2475  2549    Tuesday  ...  Somewhat safe      Very satisfied
2476  2162   Saturday  ...      Very safe  Somewhat satsified

[2477 rows x 12 columns]

# Categorical Variable
## Inconsistent categories

In [81]:
# Print unique values of both columns
print(airlines['dest_region'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']

In [80]:
print(airlines['dest_size'].unique())

['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

In [82]:
# Lower dest_region column and then replace 'eur' with 'europe'
airlines['dest_region'] = airlines['dest_region'].str.lower()
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

In [84]:
# remore white spaces from 'dest_size'
airlines['dest_size'] = airlines['dest_size'].str.strip()

In [85]:
# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' 'Medium' 'Large']

# Remapping Categories

In [86]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

In [87]:
# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'],
                               bins=label_ranges,
                               labels=label_names)

In [89]:
# Create mappings and replace
mappings = {
    'Monday':'weekday',
    'Tuesday':'weekday',
    'Wednesday':'weekday',
    'Thursday':'weekday',
    'Friday':'weekday',
    'Saturday':'weekend',
    'Sunday':'weekend'
}

airlines['day_week'] = airlines['day'].replace(mappings)

In [90]:
print(airlines['wait_type'].unique())

[medium, long, short]
Categories (3, object): [short < medium < long]

In [91]:
print(airlines['day_week'].unique())

['weekday' 'weekend']

# **Record Linkage**
# Compare strings
## The cutoff point

In [97]:
import pandas as pd
!pip install fuzzywuzzy
from fuzzywuzzy import process

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

/usr/local/lib/python3.6/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [98]:
# Read dataset
restaurants = pd.read_csv(restaurants)

restaurants_new = pd.read_csv(restaurantsII)

In [99]:
# Store the unique values of type in unique_types
unique_types = restaurants['type'].unique()

In [101]:
# Calculate similarity of 'asain' to all values types
print(process.extract('asian', unique_types, limit=len(unique_types)))

[('asian', 100), ('italian', 67), ('american', 62), ('mexican', 50), ('cajun', 40), ('southwestern', 36), ('southern', 31), ('coffeebar', 26), ('steakhouses', 25)]

In [104]:
# Calculate similarity of 'american' to all values of type
print(process.extract('american', unique_types, limit=len(unique_types)))

[('american', 100), ('mexican', 80), ('cajun', 68), ('asian', 62), ('italian', 53), ('southwestern', 41), ('southern', 38), ('coffeebar', 24), ('steakhouses', 21)]

# Remapping categories II

In [105]:
# For each correct type in categories
for cuisine in restaurants_new['type']:
  # Find matches in type of restaurants
  matches = process.extract(cuisine, restaurants['type'], limit=len(restaurants['type']))

  # For each possible_match with similarity score >= 80
  for possible_match in matches:
    if possible_match in matches:
        # Find matching cuisine type
        matching_cuisine = restaurants['type'] == possible_match[0]
        restaurants.loc[matching_cuisine, 'type'] = cuisine

# Print unique values to confirm mapping
print(restaurants['type'].unique())

['asian']

# Generating pairs
## Pairs of restaurants

In [107]:
!pip install recordlinkage
import recordlinkage

Collecting recordlinkage
  Downloading https://files.pythonhosted.org/packages/db/26/babbca39d74824e8bc17428a8eb04951a1d63318af7d02beeb2106a1ec26/recordlinkage-0.14-py3-none-any.whl (944kB)
     |████████████████████████████████| 952kB 2.8MB/s
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (1.18.5)
Collecting jellyfish>=0.5.4
  Downloading https://files.pythonhosted.org/packages/6c/09/927ae35fc5a9f70abb6cc2c27ee88fc48549f7bc4786c1d4b177c22e997d/jellyfish-0.8.2-cp36-cp36m-manylinux2014_x86_64.whl (93kB)
     |████████████████████████████████| 102kB 6.7MB/s
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (0.22.2.post1)
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (1.0.5)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (0.16.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23->recordlinkage) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23->recordlinkage) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.23->recordlinkage) (1.15.0)
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.8.2 recordlinkage-0.14

In [108]:
# Create an indexer and object and find possible pairs
indexer = recordlinkage.Index()

# Block pairing on type
indexer.block('type')

# Generate pairs
pairs = indexer.index(restaurants, restaurants_new)

In [109]:
# Similar restaurants
# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, type
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('type', 'type', label='type')